@page "/plans/createplan"

@using AppForSEII2526.Web.API
@using AppForSEII2526.Web.Components.Shared


@inject AppForGymAPIClient apiClient
@inject ILogger<CreatePlan> logger
@inject PlanStateContainer planState

<h3>Create Plan</h3>

@* plan is the object that will be edited thanks to the form *@
<EditForm Model="plan" OnValidSubmit="OpenDialog">
    <div class="row">

        <div class="col-md">
            <div class="form-floating">
                @*this button will be used to ask the user if he want to proceed to rent the movies*@
                <button class="btn btn-primary" type="submit" id="Submit">
                    Create your plan
                </button>
            </div>
        </div>
    </div>
</EditForm>

@*a modal popup dialog for checking if user wants to proceed with plan creation*@
@if (DialogIsOpen)
{
    <Dialog Caption="Plan creation"
            Message="Do you want to proceed to create a plan with the selected classes?"
            OnClose="@OnDialogClose"
            Type=Dialog.Category.SaveNot>
    </Dialog>
}

@code {
    // Variables
    private PlanForCreateDTO plan => planState.Plan;

    private bool DialogIsOpen = false;


    private void OpenDialog()
    {
        DialogIsOpen = true;
    }

    private async Task OnDialogClose(bool isOk)
    {
        DialogIsOpen = false;
        if(isOk)
        {
            // Process the data introduced by the user if it is valid
        }
    }
}
