@page "/plan/selectclassesforrental"

@using AppForSEII2526.Web.API
@inject AppForGymAPIClient apiClient
@inject ILogger<SelectClassesForPlan> logger
@inject PlanStateContainer planState

<h3>SelectClassesForPlan</h3>

<div class="container-fluid">
    <div class="row">
        <p>Here I will show the errors</p>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="row">
                <p>Here I will show the filters</p>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Name</span>
                        <input type="text" id="inputNam" @bind=className class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Date</span>
                        <InputDate @bind-Value="@ClassDate" id="inputDate" />
                    </div>
                </div>


                <button type="button" class="btn btn-primary" @onclick=@SearchClasses id="searcClasses">Search classes</button>
            </div>
            <div class="row">
                @if (classes == null)
                {
                    <p>Loading classes...</p>
                }
                else
                {
                    <p>Number of classes: @classes.Count</p>
                }

            </div>
        </div>
        <div class="col-2">
            <p>Here I will show the selected classes</p>
        </div>

    </div>
</div>

@code {

    // Variables and properties of the UI component

    private ICollection<ClassForPlanDTO> classes;
    private bool hideErrors { get { return errors.Length == 0; } }
    private string errors = "";
    private string? className { get; set; }
    private DateTime? _classDate;
    private DateTime? ClassDate
    {
        get { return _classDate; }
        set
        {
            if(_classDate != value)
            {
                _classDate = value;
            }
        }
    }

    private PlanForCreateDTO plan => planState.Plan;

    // Class selection logic

    private bool hiddenClassesSelectedList = true;

    private void AddClass(ClassForCreatePlanDTO selectedClass) {
        planState.AddSelectedClassToPlan(selectedClass);
        hiddenClassesSelectedList = false;
    }

    private void RemovePlanItem(ClassForCreatePlanDTO selectedClass)
    {
        planState.RemoveSelectedClassFromPlan(selectedClass);
        if (plan.Classes.Count == 0) hiddenClassesSelectedList = true;
    }





    // Method to search classes based on filters

    public async void SearchClasses()
    {
        try
        {
            classes = await apiClient.GetAvailableClassesForPlanAsync(className, ClassDate);
        }
        catch (ApiException ex)
        {
            logger.LogError($"{DateTime.Now} Error: {ex}");
            errors = "Error while connecting to the system";
        }
        StateHasChanged();
    }

    protected override Task OnInitializedAsync()
    {
        // The type of classDate is DateTimeOffset. A conversion is required
        ClassDate = (ClassDate == new DateTime(1, 1, 1)) ?
            DateTime.SpecifyKind(DateTime.Today, DateTimeKind.Utc)
            : _classDate;


        return base.OnInitializedAsync();
    }



    // For Blazor Bootstrap help, see https://docs.blazorbootstrap.com/forms/text-input
    // For distributing components, see https://github.com/Ingenieria-del-Software-II-ESIIAB/SEII-AppfForMoviesForClasses/commit/4f79a6ddb14aa83ed16f8cd9b189d393e382f345
}
