@page "/plan/selectclassesforrental"

<h3>SelectClassesForPlan</h3>

<div class="container-fluid">
    <div class="row">
        <p>Here I will show the errors</p>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="row">
                <p>Here I will show the filters</p>
            </div>
            <div class="row">
                <p>Here I will show the list of classes</p>
            </div>
        </div>
        <div class="col-2">
            <p>Here I will show the selected classes</p>
        </div>

    </div>
</div>

@code {
    // For distributing components, see https://github.com/Ingenieria-del-Software-II-ESIIAB/SEII-AppfForMoviesForClasses/commit/4f79a6ddb14aa83ed16f8cd9b189d393e382f345
}
