@page "/restock/createrestock"

@using AppForSEII2526.Web.API
@using AppForSEII2526.Web.Components.Shared
@inject AppForGymAPIClient apiclient
@inject ILogger<CreateRestock> logger
@inject RestockStateContainer restockState

<h3>Create Restock</h3>

<EditForm Model="restock" OnValidSubmit="OpenDialog">
    <div class="row">
        <div class="col-md">
            <div class="form-floating">
                @*button to ask the user if they want to proceed*@
                <button class="btn btn-primary" type="submit" id="submit">
                    Restock your items
                </button>
            </div>
        </div>
    </div>
</EditForm>

@if (DialogIsOpen)
{
    <Dialog Caption="Restock items"
        Message="Do you want to proceed to restock the selected items?"
        OnClose="@OnDialogClose"
        Type=Dialog.Category.SaveNot>
    </Dialog>
}

@code {
    private bool DialogIsOpen;

    private RestockForCreateDTO restock => restockState.Restock;

    private void OpenDialog()
    {
        DialogIsOpen = true;
    }

    private void OnDialogClose(bool isOk)
    {
        @if (isOk)
        {
            // Proceeds the data introduced by the user
        }
    }
}
