@page "/restocks/selectitemsforrestocking"
@using AppForSEII2526.Web.API

@inject ILogger<SelectItemsForRestocking> logger
@inject AppForGymAPIClient apiservice
@inject RestockStateContainer restockState
@inject NavigationManager navigation

<h3>Select Items For Restocking</h3>
