@page "/"
@inject Services.LanguageServices LanguageServices
@using Resources.Languages

<h1>@AppResources.WelcomeMessage</h1>

Welcome to your new app.

<select @onchange="@(e => LanguageServices.SetLanguage(e.Value?.ToString() ?? "es"))">
    <option value="es">Español</option>
    <option value="en">English</option>
</select>

@code {
    [Inject] NavigationManager Nav { get; set; }
    bool ShowLan = true;

    void IrLogin() => Nav.NavigateTo("/Boot");

    void ToggleLan()
    {
        ShowLan = !ShowLan;
    }
}