@page "/profile"
@inject Services.ProfileImageServices ProfileImageServices
@using Resources.Languages

<div class="row">
    
</div>
<div class="row" style="margin-top: 10px">
    <div class="col-6">
        <img class="profile-image" src="@ProfileImageServices.GetImageSource()"/>
        <h3>Username</h3>
        <h5>+34 673 12 56 71</h5>
    </div>
    <div class="col-4">
        <h3>Here goes the QR code</h3>
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="d-flex justify-content-center align-items-center">
        <div class="center">
            <button class="light-home-buttons" @onclick="GoConf">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12a7.5 7.5 0 0 0 15 0m-15 0a7.5 7.5 0 1 1 15 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077 1.41-.513m14.095-5.13 1.41-.513M5.106 17.785l1.15-.964m11.49-9.642 1.149-.964M7.501 19.795l.75-1.3m7.5-12.99.75-1.3m-6.063 16.658.26-1.477m2.605-14.772.26-1.477m0 17.726-.26-1.477M10.698 4.614l-.26-1.477M16.5 19.794l-.75-1.299M7.5 4.205 12 12m6.894 5.785-1.149-.964M6.256 7.178l-1.15-.964m15.352 8.864-1.41-.513M4.954 9.435l-1.41-.514M12.002 12l-3.75 6.495" />
                </svg>
                @AppResources.Configuration
            </button>
            <button class="light-home-buttons">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                     <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>
                @AppResources.EditUserInformation
            </button>
            <button class="light-home-buttons">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a2.25 2.25 0 0 0-2.25-2.25H15a3 3 0 1 1-6 0H5.25A2.25 2.25 0 0 0 3 12m18 0v6a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 18v-6m18 0V9M3 12V9m18 0a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 9m18 0V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v3" />
                </svg>
                @AppResources.EditBillingInformation
            </button>
            <h7>Joined the 9th of September, 2023</h7>
        </div>
    </div>
</div>

@code {
    [Inject] NavigationManager Nav { get; set; }
    //To add distinction between admin and user
    private void GoConf() { Nav.NavigateTo("/adminconfiguration"); }
}
