@page "/shop"

<div class="header-container" style="position: relative; margin-bottom: 40px;">
    

    <div class="header-content" style="padding-top: 20px;">
        
        <div class="search-wrapper">
            <input class="search-box" placeholder="Search..." />
        </div>

        <div style="margin-top: 20px;"></div>

        <h1 class="title">Main categories</h1>

    </div>

    <div class="header-icon"></div>
</div>

<div style="margin-top: 40px;"></div> <!-- SPACE -->


<div>
    <div class="categories">

        <div class="category">Fruits</div>
        <div class="category">Vegetables</div>
        <div class="category">Drinks</div>
        <div class="category">Snacks</div>

    </div>
    <div class="cart">

        <span class="cart-item">Apple</span>
        <span class="cart-count">+7 more…</span>

    </div>




    <div class="previewCart" style="max-width: 300px;">
        <div class="title-previewCart">SELECTED ITEMS</div>



        <div class="cart2">

            <span class="cart-item">Apple</span>
            <span class="cart-count">+7 more…</span>
        </div>
                
            
    </div>



</div>




@code {
    
}
