@inherits LayoutComponentBase
@using Services
@inject Services.FontServices FontServices

<div class="page font-container @FontServices.CurrentFontClass">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        FontServices.OnFontChanged += RefreshUI;
    }

    private void RefreshUI()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        FontServices.OnFontChanged -= RefreshUI;
    }
}