<div class="modal fade show" id="DialogOKSaveDelete"
    sytle="display:block; background-color: rgba(10,10,10,.8);"
    aria-modal="true" role="dialog"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Caption</h4>
                <button type="button" class="close" @onclick="@Cancel">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <p>@Message</p>
            </div>
            <div class="modal-footer">
                @switch (Type)
                {
                    case Category.Okay:
                        <button type="button" class="btn btn-primary"
                        @onclick=@Ok id="Button_DialogOK">OK</button>

                        break;

                    case Category.SaveNot:
                        <button type="button" class="btn btn-primary"
                        @onclick=@Ok id="Button_DialogOK">Save</button>

                        <button type="button" class="btn btn-warning"
                        @onclick=@Cancel id="Button_DialogCancel">Don´t Save</button>

                        break;

                    case Category.DeleteNot:
                        <button type="button" class="btn btn-danger"
                        @onclick=@Ok id="Button_DialogOk">Delete</button>

                        <button type="button" class="btn btn-warning"
                        @onclick=@Cancel id="Button_DialogCancel">Don´t delete</button>

                        break;
                }
            </div>
        </div>
    </div>
</div>

@code {
    // parameter to show a title in the modal dialog
    [Parameter] public string Caption { get; set; }

    // parameter to inform the user about a message
    [Parameter] public string Message { get; set; }
    [Parameter] public EventCallback<bool> OnClose { get; set; }

    //parameter to control the type of buttons shown
    [Parameter] public Category Type { get; set; }

    // returns false if user cancels the operation
    private Task Cancel()
    {
        return OnClose.InvokeAsync(false);
    }

    // returns false if user confirms the operation
    private Task Ok()
    {
        return OnClose.InvokeAsync(true);
    }

    public enum Category
    {
        Okay,
        SaveNot,
        DeleteNot
    }
}
